@model IEnumerable<MarvelLibrary.Models.Character>

@{
    ViewData["Title"] = "Favorites";
}

<h1 class="mt-5">Favorites Characters</h1>

<table class="table">
    <thead class="thead-dark table-striped table-bordered table-hover">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Comics</a>
                </td>

            </tr>
        }
    </tbody>
</table>
